<!DOCTYPE html>
<html>
  <% include ./header.ejs %>

  <body>
    <div class="container h-100 control-panel">
      <div class="row status-panel rounded text-center d-flex align-items-center w-100">
        <div class="col-2">
          Avatar:
          <h4 id="avatarHeader" class="text-center"><%= avatarName %></h4>
        </div>
        <div class="col-2">
          Health:
          <h4 id="healthHeader" class="text-center"><%= health %></h4>
        </div>
        <div class="col-2">
          Stun Count:
          <h4 id="stunCountHeader" class="text-center"><%= avatarObj.mods[0].stun_count %></h4>
        </div>
        <div class="col-2">
          Bank Balance:
          <h4 id="bankBalanceHeader" class="text-center"><%= avatarObj.mods[0].bankBalance %>T</h4>
        </div>
        <div class="col-2">
          Avatars In-world:
          <h4 id="totalAvatarsHeader" class="text-center"></h4>
        </div>
        <div class="col-2">
          <a href="/logout" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">
            Logout
          </a>
        </div>
      </div>

      <div class="row docent-panel w-100">
        <!-- Navigation pane: -->
        <div class="col-2 nav-div rounded text-center">
          <h5 id="regionHeader" class="docent-region"><%= regionDescription %></h5>
          You are facing:
          <h4 id="orientationHeader" class="text-center"><%= orientation %></h4>
          <div class="compass-div text-center">
            <img id="compass" src="/images/compass.png"></img>
          </div>
          <table id="onlineAvatarsTable" class="table table-striped">
            <thead>
              <tr>
                <th>Current Avatars:</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>

        <!-- Docent docs pane: -->
        <div class="col-10 mx-auto rounded docent-div">
          <div class="embed-responsive embed-responsive-4by3 rounded docs-div">
            <iframe name="docsFrame" id="docsFrame" class="embed-responsive-item rounded" src="<%= regionDocsURL %>"></iframe>
          </div>
        </div>
      </div>

      <div class="row users-panel rounded text-center d-flex align-items-center w-100">
        <div class="col-2">
          <img src="https://frandallfarmer.github.io/neohabitat-doc/docs/images/Habitat-Menu-Options.svg" width="150px"/>
        </div>
        <div class="col-2">
          <a href="https://github.com/frandallfarmer/neohabitat/blob/master/README.md" target="_blank">
            <h4>Getting Started</h4>
          </a>
        </div>
        <div class="col-2">
          <a href="https://frandallfarmer.github.io/neohabitat-doc/docs/Avatar%20Handbook.html" target="_blank">
            <h4>Official Handbook</h4>
          </a>
        </div>
        <div class="col-2">
          <a href="https://github.com/frandallfarmer/neohabitat/blob/master/README-RealC64.md" target="_blank">
            <h4>Using a C64</h4>
          </a>
        </div>
        <div class="col-2">
          <a href="http://slack.neohabitat.org" target="_blank">
            <h4>Neohabitat Slack</h4>
          </a>
        </div>
        <div class="col-2">
          <img src="https://frandallfarmer.github.io/neohabitat-doc/docs/images/f7.svg" />
          </a>
        </div>
      </div>
    </div>

    <% include ./footer.ejs %>
    <script type="text/javascript">
      var AvatarName = "<%= avatarName %>";
    </script>
    <script src="/javascripts/eventStream.js" type="text/javascript"></script>
  </body>
</html>
